$jelly-belly-font-name: 'JellyBean';
$jelly-belly-font-src: url('../fonts/JellyBellyFont.eot') format('eot'),
  url('../fonts/JellyBellyFont.svg') format('svg'),
  url('../fonts/JellyBellyFont.woff') format('woff'),
  url('../fonts/JellyBellyFont.woff2') format('woff2');

$haiti: #070720;
$blackcurrant: #12122f;
$cyan: #23fbec;
$strawberry: #ff2a8a;
$blue-chill: #087e8b;
$foam: #def2f1;
$light-slate-blue: #7b61ff;
