@import '_variables';

@font-face {
  font-family: $jelly-belly-font-name;
  src: $jelly-belly-font-src;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

body {
  background-color: $haiti;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'JellyBean';
  font-size: $font-size;
}

#responsive-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 4rem;
}

#game-container {
  width: 1030px;
  height: 608px;
  background-color: $light-slate-blue;
  position: relative;
}

.game-frame {
  position: absolute;
  width: 1000px;
  height: 578px;
  background-color: $blackcurrant;
  left: 15px;
  top: 15px;
  box-shadow: 0 19px 38px rgba(32, 7, 22, 0.5), 0 15px 12px rgba(7, 7, 32, 0.3);
  overflow: hidden;
}

.home-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  opacity: 1;
}

.logo {
  margin-bottom: 75px;
  width: 50%;
}

.btn {
  display: block;
  width: 382px;
  height: 82px;
  border-radius: 40px;
  margin-bottom: 23px;
  font-family: inherit;
  font-size: 36px;
  cursor: pointer;
}

.btn-primary {
  background-color: $blackcurrant;
  border: 3px solid $cyan;
  color: $cyan;
  box-shadow: 0px 9px $cyan;
  transition: all 0.2s;
}

.btn-primary:hover {
  transform: translateY(9px);
  box-shadow: 0px 0px $cyan;
  background-color: $cyan;
  color: $blackcurrant;
}

.btn-secondary {
  background-color: $blackcurrant;
  border: 3px solid $strawberry;
  color: $strawberry;
  box-shadow: 0px 9px $strawberry;
  transition: all 0.2s;
}

.btn-secondary:hover {
  transform: translateY(9px);
  box-shadow: 0px 0px $strawberry;
  background-color: $strawberry;
  color: $blackcurrant;
}

.time-progress {
  height: 9px;
  background-color: $cyan;
  width: 100%;
  transition: width 1s linear;
  z-index: 999;
}

@keyframes time-ending {
  0% {
    background-color: $cyan;
  }
  100% {
    background-color: $strawberry;
  }
}

.time-ending-animation {
  animation-name: time-ending;
  animation-duration: 0.2s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes rise {
  0% {
    bottom: -10%;
  }
  100% {
    bottom: 120%;
  }
}

.bubble {
  display: inline-block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  position: absolute;
  bottom: -20%;
  // animation-name: rise;
  // animation-duration: 12s;
  // animation-timing-function: ease-out;
  // animation-delay: 1s;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.bubble-pop {
  opacity: 0;
  transform: scale(1.2);
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 30px 0;
  color: $foam;
  font-size: 3rem;
}

.bubble-score {
  display: inline-block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  position: relative;
}

.bubble-reflection {
  position: absolute;
  width: 25%;
  height: 25%;
  background-color: $foam;
  border-radius: 50%;
  left: 23%;
  top: 27%;
}

.cyan {
  background-color: $cyan;
}

.strawberry-cyan-background {
  background-color: $strawberry;
  box-shadow: 4px 4px 0px $cyan;
}

.strawberry-cyan-text {
  color: $strawberry;
  text-shadow: 3px 3px 0 $cyan;
}

.player-score,
.player-level {
  font-size: 3.4rem;
  align-self: center;
  position: relative;
  top: 5px;
}

.level-container {
  transform: translate(0, 0);
}

.level-animation {
  animation-name: increment-level;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-iteration-count: 2;
  animation-delay: 1s;
}

@keyframes increment-level {
  50% {
    transform: scale(2) translate(-185px, 100px);
  }
  100% {
    transform: scale(2) translate(-185px, 100px);
  }
}

.icon-btn {
  border-radius: 50%;
  color: $foam;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.icon-btn-primary {
  background-color: $cyan;
  box-shadow: 5px 5px $strawberry;
  color: $strawberry;
  font-size: 1.5rem;
  transition: all 0.2s;
}

.icon-btn-large.icon-btn-primary {
  width: 65px;
  height: 65px;
  box-shadow: 7px 7px $strawberry;
}

.icon-btn-primary:hover {
  background-color: $strawberry;
  box-shadow: 0px 0px $cyan;
  color: $strawberry;
  transform: translate(5px, 5px);
  color: $cyan;
  cursor: pointer;
}

.icon-btn-secondary {
  background-color: $strawberry;
  box-shadow: 5px 5px $cyan;
  transition: all 0.2s;
  color: $cyan;
  font-size: 1.5rem;
}

.icon-btn-large.icon-btn-secondary {
  width: 65px;
  height: 65px;
  box-shadow: 7px 7px $cyan;
}

.icon-secondary {
  margin-top: 5px;
  fill: $cyan;
}

.icon-primary {
  margin-top: 5px;
  fill: $strawberry;
}

.icon-btn-secondary:hover {
  background-color: $cyan;
  box-shadow: 0px 0px $cyan;
  color: $strawberry;
  transform: translate(3px, 3px);
  cursor: pointer;
}

.icon-btn-secondary:hover .icon-secondary {
  fill: $strawberry;
}

.icon-btn-primary:hover .icon-primary {
  fill: $cyan;
}

.pause-button {
  opacity: 0;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.pause-button .icon-btn {
  width: 35px;
  height: 35px;
  font-size: 1.2rem;
}

.paused-modal,
.about-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 47, 0.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
}

.modal {
  border-radius: 10px;
  background-color: $blackcurrant;
  border: 3px solid $cyan;
  box-shadow: 0 15px 0 $cyan;
  animation-duration: 1s;
  text-align: center;
  padding: 50px 50px 35px 50px;
  z-index: 999;
  hr {
    border: 0;
    height: 1px;
    background: $blue-chill;
    margin: 20px 0;
    margin-left: 10%;
    width: 80%;
  }
  .about-text {
    width: 50%;
  }
  p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
  }
}

.about-modal .modal {
  width: 550px;
  height: 365px;
}

.paused-modal .modal {
  width: 492px;
  height: 295px;
}

.paused-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

@keyframes scalein {
  0% {
    opacity: 0;
    transform: translate(-90%, 85%) scale(0.1);
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 100;
    transform: translate(0, 0) scale(1);
  }
}

.game-play {
  transform: translateY(-100px);
  width: 100%;
  height: 100%;
}

.slide-down {
  transform: translateY(0px);
  transition: transform 0.1s linear;
}

.hidden-visibility {
  visibility: hidden;
}

.hide {
  display: none;
}

@media screen and (max-width: 1045px) {
  #game-container {
    display: none;
  }
  #responsive-container {
    display: flex;
  }
}

.ready-text,
.go-text {
  transform: translateY(-300%);
}

.ready-text--animation {
  animation-name: slide-up;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}

@keyframes slide-up {
  0% {
    transform: translateY(500%);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: translateY(100%);
  }
  80% {
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-200%);
  }
}

.fade-out {
  opacity: 0;
  transform: scale(0);
  transition: transform 0.2s linear, opacity 0.3s linear;
}

.fade-in {
  opacity: 1;
  transform: scale(1);
  transition: transform 0.2s linear, opacity 0.3s linear;
}
