@font-face {
  font-family: 'JellyBean';
  src: url('./fonts/JellyBellyFont.eot') format('eot'),
    url('./fonts/JellyBellyFont.svg') format('svg'),
    url('./fonts/JellyBellyFont.woff') format('woff'),
    url('./fonts/JellyBellyFont.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --haiti: #070720;
  --blackcurrant: #12122f;
  --cyan: #23fbec;
  --strawberry: #ff2a8a;
  --blue-chill: #087e8b;
  --foam: #def2f1;
  --light-slate-blue: #7b61ff;
}

body {
  background-color: var(--haiti);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'JellyBean';
  font-size: 16px;
}

#game-container {
  width: 1030px;
  height: 608px;
  background-color: var(--light-slate-blue);
  position: relative;
}

.game-frame {
  position: absolute;
  width: 1000px;
  height: 578px;
  background-color: var(--blackcurrant);
  left: 15px;
  top: 15px;
  box-shadow: 0 0 15px 1px rgba(7, 7, 32, 0.75);
}

.timer-bar {
  height: 9px;
  background-color: var(--cyan);
  width: 100%;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 30px 0;
  color: white;
  font-size: 3rem;
}

.bubble-score-icon {
  display: inline-block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: var(--strawberry);
  box-shadow: 4px 4px 0px var(--cyan);
  position: relative;
}

.bubble-reflection {
  position: absolute;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 50%;
  left: 23%;
  top: 27%;
}

.strawberry-white {
  color: var(--strawberry);
  text-shadow: 3px 3px 0 var(--cyan);
}

.player-score,
.player-level {
  font-size: 3.4rem;
  align-self: center;
  position: relative;
  top: 5px;
}

.btn {
  border-radius: 50%;
  color: var(--foam);
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn-secondary {
  background-color: var(--strawberry);
  box-shadow: 3px 3px var(--cyan);
  transition: all 0.2s;
}

.btn-secondary:hover {
  background-color: var(--cyan);
  box-shadow: 0px 0px var(--cyan);
  color: var(--strawberry);
  transform: translate(3px, 3px);
  cursor: pointer;
}

.pause-button {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.pause-button .btn {
  width: 35px;
  height: 35px;
  font-size: 1.2rem;
}
